* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mypurple: rgb(176, 120, 176);
    --myturquoise: rgb(125, 217, 208);
    --mygreen: rgb(181, 222, 181);
    --myorang: orange;
    --mybloue: lightblue;
    --myblack: black;
    --myhardgreen:rgb(20, 179, 20);

}

.navMain {
    height: 12vh;
    background-color: var(--mybloue);
    display: flex;
    align-items: center;



}

.mainMain {
    height: 80vh;
    background-color: var(--mygreen);
    display: flex;
    flex-direction: column;
    align-items: center;

}



.logoImg {
    height: 90%;
    margin: 3px;

}

.linkHomePage {
    text-decoration: none;
    margin-left: 30px;
  
    border-radius: 25px;
    background-color: var(--myturquoise);
    padding: 10px;
}

.linkContact {
    text-decoration: none;
    margin-left: 30px;
    border: 2px solid var(--myturquoise);
    border-radius: 25px;
    padding: 10px;
    background-color: var(--mygreen);
}

.myTytle {
    display: block;
    margin-top: 20px;
    color: var(--myorang);
}

.mySubTytle {
    display: block;
    margin-top: 7px;
}

.divFlowers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    grid-template-areas:
        "flowersTytle flowersTytle flowersTytle"
        "flowersSubTytle flowersSubTytle flowersSubTytle";
    width: 80%;
    border: solid 2px var(--myblack);
    margin-top: 15px;
    padding: 8px;
    border-radius: 5px;


}

.linkTytle {
    color: var(--myorang);
}

.flowersTytle {

    grid-area: flowersTytle;
}

.flowersSubTytle {
    grid-area: flowersSubTytle;
}


.flowersLink {
    padding: 5px;
    border: solid 2px var(--myblack);
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--mybloue);


}

.divInformation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    grid-template-areas:
        "titleInformation titleInformation titleInformation titleInformation"
        "subTitleInformation subTitleInformation subTitleInformation subTitleInformation";
    width: 80%;
    border: solid 2px var(--myblack);
    margin-top: 15px;
    padding: 8px;
    border-radius: 5px;
}

.titleInformation {
    grid-area: titleInformation;

}

.subTitleInformation {
    grid-area: subTitleInformation
}

.infoSection {
    padding: 5px;
    border: solid 2px var(--myblack);

    border-radius: 5px;
    background-color: var(--mybloue);
}

.numInfo {
    color: var(--myorang);
}

.divContact {
    border-radius: 5px;
    gap: 5px;
    border: solid 2px var(--myblack);
    margin-top: 1%;
    padding: 1%;
    background-color: var(--mybloue);
}

.contactLink {
    border-radius: 25px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid var(--myblack);
    text-decoration: none;
    background-color: var(--myhardgreen);
    display: inline-block;
}

.footerMain {
    height: 8vh;
    background-color: var(--myturquoise);
    display: flex;
    justify-content: center;
    align-items: center;

}

.footerHomePage {
    margin-right: 5%;
    text-decoration: none;
}

.footerContact {
    text-decoration: none;
}

.footerText {
    margin-left: 30%;
    font-size: 130%;
    color: var(--mypurple);
}